html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	font-size: 1.5rem;

}
h1{

}
h2{
	font-size: 2.5rem;
	color: #3B5998;
	font-weight: 3rem;
}
h3{
	font-size: 2.0rem;
	color: #3B5998;
	font-weight: 2.5rem;
}
.wrapper{
	/* background-color: rgb(230, 233, 209); */
	margin: 0 auto;
	margin-top: 5px;
	padding: 5px;
}
/* the header section  */
.logo-container{
	background-color: goldenrod;
	margin: 0 auto;
	padding: 25px;
	
}
.logo-container p{
	float: right;
}
.fa {
	padding: 15px;
	width: 40px;
	text-align: center;
	margin: 5px 3px;
	text-decoration: none;
	font-size: 10px;
	
}
.fa-facebook {
	background: #3B5998;
	color: white;
}
.fa-google {
	background: #dd4b39;
	color: white;
}
.fa:hover{
	opacity: 0.7;
}
.header-container{
	background-image: url('../images/header-img.jpg');
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
	width: 100%;
	height: 600px;
	padding: auto;
}
ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.box {
	background-color: rgb(255, 195, 0);
	padding: 5px;
	margin-top: 5px;
	border-radius: 5px;
	width:  70px;
	margin: 10px;
	text-align: center;
	/* width: 100%; */
}
.box:hover{
	background-color: #3B5998;
	transition: 0.5s;
}
 li a{
	
	text-decoration: none;
	color:  #3B5998;
	font-size: 1.0rem;
	
}
ul a,
ul a:link,
ul a:visited{
	display: inline-block;
	transition: transform .3s;
}
ul a:hover,
ul a:focus{
	text-decoration: underline;
	transform: scale(1.2);
	color: whitesmoke;
	
	
}
ul a:active{
	transform: scale(0.9) translateX(8px);
}
form{
	float: right;
	/* padding: 10px 1px;
	font-size: 5px; */
	border: none;
	cursor: pointer;
	
  }
 
  form input[type=text] {
	padding: 12px;
	margin-top: 5px;
	font-size: 15px;
	border: none;
	width: 300px;
	}
	button{
		padding: auto;
		
	}
	.main-container {
		padding: 10px;
	}
	.main-container p {
		padding: 30px;
		color: #3B5998;
	}

	.main-container h2{
		text-align: center;
		padding: 20px;
		
	}
	.card{
		width: 600px;
		height: 400px;
		margin: 0 auto;
		transform-style: preserve-3d;
		transition: all 1s ease-in-out;
		position: relative
		
		
	  }
	  .card div{
		width: 600px;
		height: 400px;
		position: absolute;
		border-radius: 8px;
		border: solid  #3B5998 5px;
		
	  }
	  .card:hover {
		transform: rotateY(180deg);
	  }
	  .front {
		/* background: url("https://placekitten.com/150"); */
		background-image: url('../images/image.active.jpg');
		z-index: 100;
		backface-visibility: hidden;
	  }
	  
	  .back {
		background-color: rgb(201, 198, 235);
		color:white;
		padding: .5rem;
		transform: rotateY(-180deg);
		backface-visibility: hidden;
	  }
	  h3{
		margin: 0;
	  }
	  .bold-h3 {
		text-align: center;
		text-decoration: none;	
	  }
	  .bold-h3 a {
        text-decoration: none;
		color: #3B5998;	
	  }
	  .bold-h3 a:hover,
      .bold-h3 a:focus{
	    transform: scale(1.7);
		transition: transform .3s;
	    color: whitesmoke;
		background-color: rgb(255, 195, 0);
	  }
	 
	 .grid-1 {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		justify-content: space-evenly;
		margin-top: 50px;
	
	 }
	 .grid-1 img {
		border-radius: 10px;
		width: 100%;
	 }
	 .grid-1 p{
		background-color: rgb(255, 195, 0);
		padding: 18px;
		margin-top: 10px;
		text-align: center;
		border-radius: 20px;
		
	 }
	 .grid-1 p:hover{
		background-color: #3B5998;
		transition: 0.5s;
		transform: scale(0.9);
		color: aliceblue;

	 }
  
